{% extends "./base.html.twig" %}


{% block title %}Forum{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% for category in categories %}
        <div class="category">
        <div class="category-header">
        <b>  {{ category.title }} </b>
        </div>
        {% for forum in category.getForums %}
            <a href='/forum/{{ forum.id }}'
            <b> {{ forum.title }} </b><br>
            <span> {{ forum.description }} </span>
            <span> Tópicos: {{ forum.getTopics|length }} </span>
            </a>
        {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}
