{% extends "./base.html.twig" %}


{% block title %}Forum{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% for category in categories %}
        <div class="rounded-border">
            <div class="title-header">
                <b>  {{ category.title }} </b>
            </div>
            <div class="forum-grid bg-gray font-bold">
                <div>Fórum</div>
                <div>Tópicos</div>
                <div>Mensagens</div>
                <div>Última mensagem</div>
            </div>
            {% for forum in category.getForums %}
                <div class="forum-grid">
                    <div>
                        <a class="forum-link" href='/forum/{{ forum.id }}'>{{ forum.title }}</a><br> 
                        <span> {{ forum.description }} </span>
                    </div>
                    <div>
                        <span> {{ forum.getTopics|length }} </span>
                    </div>
                    <div>
                        <span> todo </span>
                    </div> 
                    <div> Não disponível </div>
                </div>
            {% endfor %}
            </div>
        <hr>
    {% endfor %}
{% endblock %}
