{% extends "./base.html.twig" %}


{% block title %}Topics -  {% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <p><b> Tópico: {{ posts[0].getTopic.title }} </b></p>
    {% for post in posts %}
        <p>Usuário: {{ post.getUser.username }} | data: {{ post.getCreatedAt|date('Y-m-d H:m')}}</p>
        <p> {{ post.content }} </p>
        <hr>
    {% endfor %}
    {% if app.user %}
        <form class="form" action="">
            <input type="text">
            <textarea id="" name="" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar">
        </form>
    {% endif %}
{% endblock %}
