{% extends "./base.html.twig" %}


{% block title %}Topics -  {% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <a href="/">Home </a> > <a href="/forum/{{ topic.getForum.getId }}"> {{ topic.getForum.getTitle }} </a>
    <p><b> Tópico: {{ posts[0].getTopic.title }} </b></p>
    {% for post in posts %}
    <div class="post-item">
        <div class="post-user">
            <p>Usuário<br> {{ post.getUser.username }} </p>
        </div>
        <div>
            <p> Mensagem publicada em {{ post.getUpdatedAt|date('Y-m-d H:i')}} 
            <hr>
            <p> {{ post.content|raw }} </p>
            <hr>
        </div>
        <hr>
    </div>
    {% endfor %}
    {% if app.user %}
        <form class="form" action="/post.store" method="POST">
            <input type="hidden" name="topic_id" value={{ topic.getId }}>
            <textarea id="" name="content" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar">
        </form>
    {% endif %}
{% endblock %}
