{% extends "./base.html.twig" %}


{% block title %}Perfil {{ user.username }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="">
    {% if message is defined %}
    <h3> {{ message }} </h3>
    {% endif %}
    <div class="rounded-border form-regular">
        <div class="title-header">
            <h3>{{ user.username }}</h3>
        </div>
        <img class="p-10" src="{{url}}{{user.getAvatar}}"></img>
        <form class="form" action="/user.update" method="POST">
            <input type="hidden" name="token" value="{{ csrf_token('user.store') }}"/>
            <input type="hidden" name="user_id" value="{{ user.id }}"/>
            <div>
                <label for=""> {{ user.username }}</label><br>
                <span> Posts: {{ user.getPosts()|length }} </span><br>
                <span> Tópicos: {{ user.getTopics()|length }} </span><br>
                <span> Usuário desde: {{ user.getCreatedAt|date('Y-m-d') }}</span><br>
                <span> Atualizado em: {{ user.getUpdatedAt|date('Y-m-d') }}</span><br>
                <span> Tipo: {{ user.getRoles[0] }}</span>
            </div>
            {% if app.user.id == user.id %}
            <div>
                <label for="">Email</label><br>
                <input id="" type="email" name="email" value="{{ user.email }}">
            </div>
            <div>
                <label for="">Password</label><br>
                <input id="" type="password" name="password">
            </div>
            <div>
                <label> Avatar </label><br>
                <input id="" type="text" name="avatar" value="{{ user.avatar }}">
                <div class="avatar-list">
                {% for avatar in avatars %}
                    <div>
                        <input name="avatar" type="radio" value="{{avatar.name}}" >
                        <img src="{{url}}{{avatar.name}}"></img>
                        </input>
                    </div>
                {% endfor %}
                </div>
            <div>
                <input type="submit" value="Atualizar">
            </div> 
            {% endif %}
        </form>
    </div>
    </div>
{% endblock %}
