{% extends "./base.html.twig" %}


{% block title %}Topics -  {% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% for topic in topics %}
        <p> <a href="/topic/{{topic.id}}"> {{ topic.title }} </a> </p>
        <span>Autor: {{ topic.getUser.username }} | criado: {{ topic.getCreatedAt|date('Y-m-d H:m')}}</span>
        <hr>
    {% endfor %}
    {% if app.user %}
        <form class="form" action="/topic.store" method="POST">
            <div>
            <h5> Novo Tópico </h5>
            <input type="hidden" name="token" value="{{ csrf_token('topic.store') }}"/
            <input type="hidden" name="forum_id" value={{ forum_id }} />
            <input type="text" name="title">
            </div>
            <div>
            <textarea id="" name="content" cols="30" rows="10"></textarea>
            </div>
            <div>
            <input type="submit" value="Enviar">
            </div>
        </form>
    {% endif %}
{% endblock %}
