{% extends "./base.html.twig" %}


{% block title %}Topics -  {% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}

    <a href="/">Home </a> > <a href="/forum/{{ topics[0].getForum.getId }}"> {{ topics[0].getForum.getTitle }} </a>
    {% for topic in topics %}
    <div class="topic-item">
        <div>
            <p> <a href="/topic/{{topic.id}}"> {{ topic.title }} </a> </p>
        </div>
        <div>
            <span>Autor: {{ topic.getUser.username }} </span>
        </div>
        <div>
          <span> ultima msg: {{ topic.getUpdatedAt|date('Y-m-d H:i')}} {{ topic.getLastPost.getUser.username }} </span>
        </div>
    </div>
    <hr>
    {% endfor %}
    {% if app.user %}
        {{ include('forum/form.html.twig') }}
    {% endif %}
{% endblock %}
